{% extends 'base.html' %}

{% block title %}Área do Médico{% endblock title %}


{% block content %}
<div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
            <div class="card-body">
                {% if foto %}
                    <img src="{{ medico.foto.url }}" alt="{{user.first_name}}_{{user.last_name}}" class="rounded mx-auto d-block" style="width:200px; height:200px;">
                {% else %}
                    <img src="..\..\media\medicos_imgs\sem-imagem-avatar.png" class="rounded mx-auto d-block" style="width:200px; height:200px;">
                {% endif %}
                <h1 style="text-align: center;">{{user.first_name}} {{user.last_name}}</h1>
            </div>
        </div>
    </div>
</div>

{% endblock content %}