{% extends 'base.html' %}

{% block title %}Cadastre-se (Médico) - Ache seu médico{% endblock title %}

{% block content %}
<div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
            <div class="card-body">
                <h5 class="card-title text-center">Cadastre-se médico</h5>
                <form class="form-signin" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-label-group">
                        <input type="TextInput" id="inputFirstName" name="first_name" class="form-control"
                               placeholder="Nome"
                               required autofocus>
                        <label for="inputFirstName">Nome</label>
                    </div>

                    <div class="form-label-group">
                        <input type="TextInput" id="inputLastName" name="last_name" class="form-control"
                               placeholder="Sobrenome"
                               required autofocus>
                        <label for="inputLastName">Sobrenome</label>
                    </div>

                    <div class="form-label-group">
                        <input type="email" id="inputEmail" name="email" class="form-control" placeholder="Email"
                               required autofocus>
                        <label for="inputEmail">Email</label>
                    </div>

                    <div class="form-label-group">
                        <span>Sexo:</span>
                        {{formMedico.sexo}}
                    </div>

                    <div class="form-label-group">
                        <input type="date" id="inputDataNascimento" name="data_nascimento" class="form-control"
                               placeholder="Data de Nascimento"
                               required autofocus>
                        <label for="inputDataNascimento">Data de Nascimento</label>
                    </div>

                    <div class="form-label-group">
                        <input type="tel" id="inputTelefone" name="telefone" class="form-control" placeholder="Telefone"
                               pattern="([0-9]{2})[0-9]{9}" required autofocus>
                        <label for="inputTelefone">Telefone (Apenas Números - Incluir DDD)</label>
                    </div>

                    <div class="form-label-group">
                        <span>Especialidade:</span>
                        {{formMedico.especialidade}}
                    </div>

                    <div class="form-label-group">
                        <input name="local_de_atendimento" class="form-control" id="inputEndereco" maxlength="300"
                               placeholder="Endereço de onde você atende">
                        <label for="inputEndereco">Endereço de onde você atende</label>
                    </div>

                    <div class="form-label-group">
                        <span>Foto:</span>
                        {{formMedico.foto}}
                    </div>

                    <div class="form-label-group">
                        <input type="TextInput" id="inputUsername" name="username" class="form-control"
                               placeholder="Usuário"
                               required autofocus>
                        <label for="inputUsername">Usuário</label>
                    </div>

                    <div class="form-label-group">
                        <input type="password" id="inputPassword" name="password" class="form-control"
                               placeholder="Senha"
                               required>
                        <label for="inputPassword">Senha</label>
                    </div>

                    <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Cadastrar</button>
                    <hr class="my-4">
                    <div style="text-align: center;">
                        <a href="{% url 'login_medico' %}" style="text-decoration:none;">Já tenho cadastro!</a>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}